body {
background:ivory;
text-align: center;
font-size: 120%;
margin: 15%;
 
color: coral
}
li {
    text-align: justify;
}
div {
    border-style:dotted;
}
ul {
    list-style-type:square;
}



